.iti {
  display: block;
}
.iti input {
  padding-left: 90px !important;
}
.vti__dropdown{
  width: 90px;
  height: 81px;
  padding: 0;
}
.vti__selection {
  transition: 0.35s ease all;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 10px;
}
.iti__arrow {
  border: unset !important;
  position: relative;
  width: 12px;
  height: 12px;
  margin-left: 0;
}
.vti__dropdown-arrow::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMi4wMiA2LjM0Ij48cGF0aCBkPSJtNiw2LjM0Yy0uMTQsMC0uMjgtLjA1LS4zOS0uMTZMLjE2LjljLS4yMS0uMjEtLjIxLS41NCwwLS43NS4yMS0uMjEuNTYtLjIxLjc3LDBsNS4wNyw0LjkxTDExLjA5LjE3Yy4yMS0uMjEuNTYtLjIxLjc3LDAsLjIxLjIxLjIxLjU0LDAsLjc1bC01LjQ3LDUuMjdjLS4xMS4xLS4yNS4xNS0uMzkuMTVaIi8+PC9zdmc+");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(1);
}

.vti__dropdown-arrow{
  color: transparent !important;
}

.vti__dropdown,
.vti__dropdown-list {
  background-color: var(--color-body-color) !important;
  border: 1px solid var(--color-lynch-800) !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
}

.vti__dropdown.open,
.vti__dropdown-list,
.vti__dropdown-item {
  z-index: 99;
}

.vti__input{
  padding-left: .975rem !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.vue-tel-input {
  border: none !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.vti__input:focus{
  border: 0px !important;
}

.vti__input:hover{
  border: unset !important;
}

.vti__input{
  transition: none !important;
}

.iti__divider {
  border-bottom: 1px solid var(--color-lynch-800);
}

.vti__dropdown-item.highlighted {
  background-color: var(--color-lynch-800) !important;
  color: white;
}

.vue-tel-input:focus-within{
  box-shadow: unset !important;
  border: 1px solid var(--color-primary) !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}