*,
.scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: theme("colors.body-color");
  }
  &::-webkit-scrollbar-thumb {
    background-color: theme("colors.primary");
    border-radius: 10px;
  }
}

.scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

.split-lines,
.split-words,
.split-chars {
  will-change: transform;
  backface-visibility: hidden;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  border-color: theme("colors.primary") !important;
}

.carousel__button.is-close {
  right: unset !important;
  top: 0 !important;
  left: 50%;
  background-color: transparent;
  width: 60px !important;
  height: 60px !important;
  border-radius: 100% !important;
  transition: 0.35s ease all;
  transform: translateX(-50%) translateY(-50%) !important;
  background-color: theme("colors.ebony-clay.900") !important;
  svg {
    filter: unset !important;
    color: white !important;
    stroke-width: 3 !important;
    transition: 0.6s cubic-bezier(0.22, 0.68, 0, 1.1);
  }
  &:hover {
    background-color: theme("colors.primary") !important;
    svg {
      transform: rotate(-90deg);
      color: theme("colors.primary") important;
    }
  }
}

.cookie-bar {
  margin: 0 0 0 auto;
  &.hide-cookie {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
  }
  .cookie-content {
    .text-field .cookie-icon path {
      fill: theme("colors.primary");
    }
    .button-field .accept:hover .icon {
      transform: translateX(3px);
    }
  }
}

.animate-carousel {
  .swiper-slide {
    & > * {
      opacity: 0;
      pointer-events: none;
      transform: scale(0.8);
      transition: 0.6s cubic-bezier(0.25, 0.75, 0.5, 1.25);
    }
    &-visible {
      & > * {
        opacity: 1;
        pointer-events: visible;
        transform: scale(1);
      }
    }
  }
}

.iti {
  display: block;
}
.iti input {
  padding-left: 90px !important;
}
.vti__dropdown{
  width: 90px;
  height: 81px;
  padding: 0;
}
.vti__selection {
  transition: 0.35s ease all;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 10px;
}
.iti__arrow {
  border: unset !important;
  position: relative;
  width: 12px;
  height: 12px;
  margin-left: 0;
}
.vti__dropdown-arrow::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMi4wMiA2LjM0Ij48cGF0aCBkPSJtNiw2LjM0Yy0uMTQsMC0uMjgtLjA1LS4zOS0uMTZMLjE2LjljLS4yMS0uMjEtLjIxLS41NCwwLS43NS4yMS0uMjEuNTYtLjIxLjc3LDBsNS4wNyw0LjkxTDExLjA5LjE3Yy4yMS0uMjEuNTYtLjIxLjc3LDAsLjIxLjIxLjIxLjU0LDAsLjc1bC01LjQ3LDUuMjdjLS4xMS4xLS4yNS4xNS0uMzkuMTVaIi8+PC9zdmc+");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(1);
}
.vti__dropdown,
.vti__dropdown-list {
  background-color: var(--color-body-color) !important;
  border: 1px solid var(--color-lynch-800) !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
}

.vti__dropdown.open,
.vti__dropdown-list,
.vti__dropdown-item {
  z-index: 99;
}
.vue-tel-input {
  border: none !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.iti__divider {
  border-bottom: 1px solid var(--color-lynch-800);
}

.vti__dropdown-item.highlighted {
  background-color: var(--color-lynch-800) !important;
  color: white;
}

.vti__dropdown-item:hover {
  background-color: var(--color-lynch-800);
}
